- name: 云打包
  run: |
    # 设置 UTF-8 编码
    chcp 65001
    $env:PYTHONIOENCODING = 'utf-8'
    python main.py --cloud --source "${{ inputs.source_file }}" --name "${{ inputs.output_name }}" --mode "${{ inputs.mode }}" ${{ inputs.noconsole && '--noconsole' || '' }}
  shell: pwsh
